@import './index.scss';
@import './kind.scss';
@import './shopping.scss';
@import './car.scss';
@import './mine.scss';
@import  './reset.scss';

html,body,#app,.mainBox{
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
}
.main{
    flex: 1;
    overflow:auto;
}